<% provide(:title, 'New task') %>
<h1>New Task</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: @task, local: true) do |f| %> <!-- follow pattern for sessions_controller -->

      <%= f.label :project_id, "Project | Company" %> <!-- 'company' can be any attribute on Customer;-->
      <%= f.collection_select(:project_id, Project.all, :id, :name_with_company, :prompt => 'Select') %>

      <%= f.label :task_name, "Task Name" %>
      <%= f.text_field :task_name, class: 'form-control' %>

      <div>

      <%= f.submit "Create New Task", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
