<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%#= link_to "#", root_path %>
    <nav>
      <div class="navbar-header" style="text-align: right;">
         <%= link_to "customers", customers_path %> |
         <%= link_to "projects", projects_path %> |
         <%= link_to "tasks", tasks_path %> |
         <%= link_to "task_entries", task_entries_path %> |
         <%= link_to "Log in", login_path %>
      </div>
    </nav>
  </div>
</header>
