<!DOCTYPE html>
<html>
  <head>
    <title>TimeTracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <div class="container">
       <% flash.each do |message_type, message| %>
         <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
       <% end %>
       <%#= previously had default header material but replaced it with line 8; header material is now in the _rails_default.html.erb file %>
       <%= yield %> <!-- responsible for inserting the contents of each page into
                   the layout.using this layout ensures that when visiting a
                   page such as pge/static_pages/home converts the contents of
                   home.html.erb to HTML and then inserts in place of
                   the **yield** -->
       <%#= render 'layouts/footer' %> <!-- if i have time, add footer -->
   </div>
  </body>
</html>
